{% extends "layout.html" %}
{% block body %}
<div>
    <p class="lead">{{flight_count}} Flights on {{flight_date}}
    <table class="table table-condensed table-striped">
        <thead>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Departure Time</th>
            <th>Tail Number</th>
            <th>Air Time</th>
            <th>Distance</th>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td><a href="/airline/{{flight.Carrier}}">{{flight.Carrier}}</a></td>
                <td>
                    <a href="/on_time_performance?Carrier={{flight.Carrier}}&FlightDate={{flight.FlightDate}}&FlightNum={{flight.FlightNum}}">{{flight.FlightNum}}</a>
                </td>
                <td>{{flight.Origin}}</td>
                <td>{{flight.Dest}}</td>
                <td>{{flight.DepTime}}</td>
                <td><a href="/airplane/{{flight.TailNum}}">{{flight.TailNum}}</td>
                <td>{{flight.AirTime}}</td>
                <td>{{flight.Distance}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
